*.json linguist-detectable=false
*.xml linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=
*.gen.ts linguist-detectable=false
frontend/src/components/lib/** linguist-detectable=false
frontend/schema.ts linguist-detectable=false
